:root {
  --main-color: #b186ff;
  --secundary-color: #afafaf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size:  62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid var(--secundary-color);
}

header h1 {
  align-self: center;
}

button:hover {
  cursor: pointer;
}

/* Main */
main {
  width: 80%;
  height: 80vh;
  margin: 20px auto;
}

.container {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 20px
}

.container h2 {
  text-align: center;
}

.button-container {
  align-self: center;
}

/* Random & Favorites */
.random-refresh {
  width: 120px;
  height: 30px;
  align-self: center;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}
.random-refresh:hover {
  background-color: var(--main-color);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.random-container,
.favorites-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5px;
}

.random-dog,
.favorite-dog {
  width: 150px;
  height: 150px;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  place-self: center;
}

.random-dog img,
.favorite-dog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.btn-favorite {
  height: 20px;
  position: absolute;
  background-color: transparent;
  border: none;
  top: 8px;
  left: 120px;
  text-align: left;
}

.btn-favorite span {
  font-size: 1.6rem;
  color: var(--secundary-color);
}
.btn-favorite span:hover {  
  font-size: 2rem;
  color: var(--main-color);
}

.remove-favorite span{
  color: var(--main-color);
}
.remove-favorite span:hover {
  color: var(--main-color);
  color: var(--secundary-color);
}
